[submodule "third_party/ELFIO"]
	path = third_party/ELFIO
	url = https://github.com/serge1/ELFIO.git
	tag = Release_3.10
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
	tag = v1.11.0
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
	tag = v3.11.2
